body {
  text-align: justify;
  list-style-position: inside;
  background-color: #FFFDF7;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 50px;
}

p {
  color: #4361EE;
  font-size: xx-large;
}